<!-- Navigation Bar -->
<nav class="navbar">
  <div class="navbar-left">
    <a href="/" class="navbar-brand">
      <span>Atlasphere</span>
    </a>
  </div>

  <div class="navbar-center">
    <% if (typeof user !== 'undefined' && user) { %>
      <a href="/" class="nav-link">Home</a>
      <a href="/profile" class="nav-link">Profile</a>
      <a href="/settings" class="nav-link">Settings</a>
    <% } %>
  </div>

  <div class="navbar-right">
    <% if (typeof user !== 'undefined' && user) { %>
      <a href="/auth/logout" class="btn btn-primary btn-sm">Sign out</a>
    <% } else { %>
      <a href="/auth/login" class="btn btn-primary btn-sm">Log in</a>
    <% } %>
  </div>
</nav>